<% provide(:title, "O stronie") %>

<h1>O stronie</h1>
<p>
    Portal Movie Share powstał z myślą o dzieleniu się wrażeniami na temat filmów między użytkownikami portalu. 
    Obecnie umożliwiamy poszukiwanie filmów w bazie i dodawanie opini na ich temat. 
    Docelowo będzie można umieszczać recenzje filmów oraz zapytania o opinie na temat filmów nie będących jeszcze w bazie.
</p>
