<header>
    <div id="LOGO">
        <%= link_to "Movie Share", root_path %>
    </div>

    <nav>
      <ul>
        <li><%= link_to "Filmy", films_path  %></li>
        <li><%= link_to "Kategorie", genres_path  %></li>
        <li><%= link_to "O stronie", static_pages_about_path  %></li>
      </ul>
    </nav>
</header>